section{
    display: flex;
    position: relative;
    height: auto;
    width: 100%;
    /* outline: solid red 1px; */
}

/* section:nth-of-type(2n + 1){ outline: solid rgb(0, 153, 255) 1px; } */

section.white-txt{ color: #fff; }

.section-bg>img{
    position: absolute;
    z-index: -2;
    height: 100%;
    width: calc(100% + 2*var(--margin));
    translate: calc(-1*var(--margin));
    object-fit: cover;
    user-select: none;
}

.section-bg.left-cut::before, 
.section-bg.right-cut::before{
    content: "";
    position: absolute;
    z-index: -1;
    height: 100%;
    width: calc(100% + 2*var(--margin));
    translate: calc(-1*var(--margin));

    background-color: #fff;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 100px);
}
.section-bg.right-cut::before{ clip-path: polygon(0 0, 100% 0, 100% 100px, 0 0); }

.red-trapeze::after,
.blue-trapeze::after{
    content: "";
    position: absolute;
    z-index: -1;
    height: calc(100% + 50px);
    width: calc(100% + 2*var(--margin));
    translate: calc(-1*var(--margin));

    background-color: #FF8764;
    mix-blend-mode: multiply;
    clip-path: polygon(0 50px, 100% 0, 100% 100%, 0 calc(100% - 100px));
}
.blue-trapeze::after{ background-color: #458F98; }

section:has(.red-trapeze),
section:has(.blue-trapeze){
    margin-bottom: 50px;
}

section>h1{
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    margin: 50px 0 50px 0;
    font-size: 32px;
    font-weight: 400;
}
section:has(.right-cut)>h1,
section:has(.left-cut)>h1
{ margin-top: 100px; }
